@font-face {
    font-family: 'SpaceAge';
    src: url('https://anonymeusb.github.io/expos-metiers/space%20age.ttf');
}

body {
    background-color: #191C22;
    scroll-behavior: smooth;
    overflow: hidden;
}

.ms {
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

#ms1 {
    top: 3%;
}

#ms2 {
    top: 13%;
}

#ms3 {
    top: 23%;
}

#ms4 {
    top: 33%;
}

#f-diapo1_container {
    position: absolute;
    top: 3%;
    left: 6%;
}

#f-diapo1 {
    width: 84%;
}

#titre1 {
    font-family: 'SpaceAge';
    font-size: 80;
}

#titre1_container {
    position: absolute;
    width: 70%;
    left: 0%;
    top: 15%;
    left: 10%;
    text-align: center;
}

#diapo_box_container {
    position: fixed;
    text-align: left;
    top: 20%;
    left: 87%;
}

#diapos {
    background-color: #191C22;
}

#diapo2 {
    position: absolute;
    background-color: white;
    width: 10px;
    height: 10px;
    top: 500%;
    scroll-behavior: smooth;
}

li {
    color: grey;
    text-decoration: underline grey;
}

li:hover {
    color: #AB1355;
    text-decoration: underline #AB1355;
}

#scroll {
    scroll-behavior: smooth;
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

#f-diapo2_container {
    position: absolute;
    top: 400%;
    left: 6%;
}

#f-diapo2 {
    width: 84%;
}